

.title{
    color: #43A047;
    font-weight: bold;
    margin: 10px 0px 0px 10px;
    font-size: 28px;
}

.post{
    background: #FBFBFB;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    padding: 5px 18px 15px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 8px;
    /*color: #656565; */
}
li a{
	text-decoration: none;
}


